<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QQZone.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A1ABD0921E5C86F6004C6665</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1ABD0A61E5C86F7004C6665</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1ABD0B11E5C86F7004C6665</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
